<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <customFields>{"servicio":"cdc-worker"}</customFields>
    </encoder>
  </appender>

  <appender name="CLICKHOUSE" class="com.example.cdc.common.logging.ClickHouseLogAppender">
    <clickhouseUrl>${CDC_CLICKHOUSE_URL:-http://default:demopass@localhost:8123/auditoria}</clickhouseUrl>
    <servicio>cdc-worker</servicio>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="CLICKHOUSE" />
  </root>
</configuration>